@font-face {
    font-family: 'kanit-regular';
    src: url('kanit-v12-latin-regular.woff2') format('woff2'),
         url('kanit-v12-latin-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'kanit-500';
    src: url('kanit-v12-latin-500.woff2') format('woff2'),
         url('kanit-v12-latin-500.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kanit-600';
    src: url('kanit-v12-latin-600.woff2') format('woff2'),
         url('kanit-v12-latin-600.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kanit-700';
    src: url('kanit-v12-latin-700.woff2') format('woff2'),
         url('kanit-v12-latin-700.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kanit-800';
    src: url('kanit-v12-latin-800.woff2') format('woff2'),
         url('kanit-v12-latin-800.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}